EMBEDDING_PROVIDER=local
REDIS_URL=redis
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
GROBID_SERVER_URL=http://grobid:8070
PDF_DOWNLOAD_DIR=/app/downloads
REDIS_HOST=redis
HF_TOKEN=
HF_HOME= "/home/atlazer/.cache/huggingface"
LOCAL_EMBEDDING_MODEL=BAAI/bge-m3

DB_HOST=
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=postgres