EMBEDDING_PROVIDER=tei
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
GROBID_SERVER_URL=http://grobid:8070
TEI_BASE_URL=http://tei:8080
PDF_DOWNLOAD_DIR=/app/downloads
ONNX_CACHE_DIR=/app/data/onnx_cache
REDIS_HOST=redis
CACHE_HOME="/home/atlazer/.cache"
HF_TOKEN=
HF_HOME= "/home/atlazer/.cache/huggingface"
STANZA_RESOURCES_DIR="/home/atlazer/.cache/resources"
LOCAL_EMBEDDING_MODEL=BAAI/bge-m3
CELERY_WORKER_PROC_ALIVE_TIMEOUT=60
GEMINI_API_KEY=
GEMINI_WEBHOOK_SECREET=

DB_HOST=
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=postgres